@page "/admins/bulk"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@attribute [Authorize(Roles = "Administrators")]

@inject IApiService ApiSvc
@inject IStringLocalizer<App> Localize

<div>
    <Overlay @ref="overlay">
        @if (!string.IsNullOrWhiteSpace(error))
        {
            <div class="overlay-error">@error</div>
        }
    </Overlay>

    <h1>Bulk</h1>

    @*<p>
            <InputFile OnChange="@OnInputFileChange" multiple />
        </p>

        @if (imageDataUrls.Count > 0)
        {
            <h4>Images</h4>

            <div class="card" style="width:30rem;">
                <div class="card-body">
                    @foreach (var imageDataUrl in imageDataUrls)
                    {
                        <img class="rounded m-1" src="@imageDataUrl" />
                    }
                </div>
            </div>
        }

        <hr />*@

    <p>
        <InputFile OnChange="@OnFileSave" accept="application/csv" />
    </p>

    <p>@Message</p>

    <div class="row">
        <div class="col">
            <table class="excel">
                <tbody>
                    @foreach (var row in dataList)
                    {
                        <tr>
                            @foreach (var cell in row)
                            {
                                <td>@cell</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <hr />

    @if (dataList != null && dataList.Count > 0)
    {
        <MatButton Type="button" Raised="true" OnClick=@OnBulk Icon="@MatIconNames.Cloud_upload" title="Load Data">Load Data</MatButton>
    }

    <hr />

    @if (succeeded != null)
    {
<div class="grid-area">
    <h4>Successful</h4>
    <MatTable Items="@succeeded" class="mat-elevation-z5" Striped="true" ShowPaging="true"
              UseSortHeaderRow="true" AllowSelection="true">
        <MatTableHeader>
            <MatSortHeaderRow>
                @if (isAdmin)
                {
                    <MatSortHeader SortId="id">@Localize["Id"]</MatSortHeader>
                }
                <MatSortHeader SortId="sessionname">@Localize["Session"]</MatSortHeader>
                <MatSortHeader SortId="semestername">@Localize["Semester"]</MatSortHeader>
                <MatSortHeader SortId="studentdescription">@Localize["Student Matric No"]</MatSortHeader>
                <MatSortHeader SortId="coursedescription">@Localize["Course Code"]</MatSortHeader>
                <MatSortHeader SortId="score">@Localize["Score"]</MatSortHeader>
                <MatSortHeader SortId="username">@Localize["User Name"]</MatSortHeader>
            </MatSortHeaderRow>
        </MatTableHeader>
        <MatTableRow Context="studentCourse">
            @if (isAdmin)
                {
                <td>@studentCourse.Id</td>
                }
            <td>@studentCourse.Session</td>

            <td>@studentCourse.Semester</td>

            <td>@studentCourse.MatricNo</td>

            <td>@studentCourse.Code</td>

            <td>@studentCourse.Score</td>

            <td>@studentCourse.Username</td>

        </MatTableRow>
    </MatTable>
</div>
    }

    <hr />

    @if (failed != null)
    {
        <div class="grid-area">
            <h4>Failed</h4>
            <MatTable Items="@failed" class="mat-elevation-z5" Striped="true" ShowPaging="true"
                      UseSortHeaderRow="true" AllowSelection="true">
                <MatTableHeader>
                    <MatSortHeaderRow>
                        @if (isAdmin)
                        {
                            <MatSortHeader SortId="id">@Localize["Id"]</MatSortHeader>
                        }
                        <MatSortHeader SortId="sessionname">@Localize["Session"]</MatSortHeader>
                        <MatSortHeader SortId="semestername">@Localize["Semester"]</MatSortHeader>
                        <MatSortHeader SortId="studentdescription">@Localize["Student Matric No"]</MatSortHeader>
                        <MatSortHeader SortId="coursedescription">@Localize["Course Code"]</MatSortHeader>
                        <MatSortHeader SortId="score">@Localize["Score"]</MatSortHeader>
                        <MatSortHeader SortId="username">@Localize["User Name"]</MatSortHeader>
                    </MatSortHeaderRow>
                </MatTableHeader>
                <MatTableRow Context="studentCourse">
                    @if (isAdmin)
                        {
                        <td>@studentCourse.Id</td>
                        }
                    <td>@studentCourse.Session</td>

                    <td>@studentCourse.Semester</td>

                    <td>@studentCourse.MatricNo</td>

                    <td>@studentCourse.Code</td>

                    <td>@studentCourse.Score</td>

                    <td>@studentCourse.Username</td>

                </MatTableRow>
            </MatTable>
        </div>
    }
</div>


@code {

    Overlay overlay;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private System.Security.Claims.ClaimsPrincipal User;

    bool isOwner;
    bool isAdmin;

    string error = null;

    private IList<string> imageDataUrls = new List<string>();

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var maxAllowedFiles = 3;
        var format = "image/png";

        foreach (var imageFile in e.GetMultipleFiles(maxAllowedFiles))
        {
            var resizedImageFile = await imageFile.RequestImageFileAsync(format,
                100, 100);
            var buffer = new byte[resizedImageFile.Size];
            await resizedImageFile.OpenReadStream().ReadAsync(buffer);
            var imageDataUrl =
                $"data:{format};base64,{Convert.ToBase64String(buffer)}";
            imageDataUrls.Add(imageDataUrl);
        }
    }


    List<string[]> dataList = new List<string[]>();
    List<double[][]> SampleRecords = new List<double[][]>();
    List<string> labels = new List<string>();

    List<BulkStudentCourseDto> bulkStudentCourseDtos = new List<BulkStudentCourseDto>();
    BulkStudentCourseDto[] loadedData;
    BulkStudentCourseDto[] succeeded;
    BulkStudentCourseDto[] failed;

    string Message;

    protected override async Task OnInitializedAsync()
    {
        // Get the current user
        var authState = await authenticationStateTask;
        User = authState.User;

        var username = User.Identity.IsAuthenticated ? User.Identity.Name : "Anoymous";

        isOwner = username == "a1@ark.com";

        isAdmin = User.IsInRole("Administrators") || isOwner;
    }

    private async Task OnFileSave(InputFileChangeEventArgs e)
    {
        if (e.File != null)
        {
            var file = e.File;

            Message = "Reading file...";
            this.StateHasChanged();

            var buffer = new byte[file.Size];
            await file.OpenReadStream().ReadAsync(buffer);

            Message = "Parsing file...";
            this.StateHasChanged();
            using (System.IO.MemoryStream memoryStream = new System.IO.MemoryStream(buffer))
            using (var reader = new System.IO.StreamReader(memoryStream))
            {
                while (!reader.EndOfStream)
                {
                    var line = reader.ReadLine();
                    var cells = line.Split(',');

                    dataList.Add(cells);

                    if (float.TryParse(cells[4], out var score))
                    {

                        var bulk = new BulkStudentCourseDto
                        {
                            Session = cells[0],
                            Semester = cells[1],
                            Code = cells[2],
                            MatricNo = cells[3],
                            Score = score,
                            Username = cells[5]

                        };
                        bulkStudentCourseDtos.Add(bulk);
                    }
                }
            }

            this.StateHasChanged();
            Message = "Done.";
        }
    }

    async Task OnBulk()
    {
        try
        {
            // Create new session
            // Session objNewSession = SessionDto.AsSessionFunc(formData);


            // Save the result
            var resp = await ApiSvc.AddAsync("api2/Bulks/StudentCourses", bulkStudentCourseDtos);

            loadedData = await resp.Content.ReadFromJsonAsync<BulkStudentCourseDto[]>();

            succeeded = loadedData.Where(w => w.Id > 0).ToArray();
            failed = loadedData.Where(w => w.Id == 0).ToArray();

            //isAdded = true;
            //message = ($"Session '{formData.Id}' added successfully");
            //showInfo(message, "added");
        }
        catch (Exception ex)
        {
            error = ex.Message;
            overlay.Show();
        }
    }
}